.navbar{
    background-color: aquamarine;
    display:flex;
    justify-content: space-around;
    height:40px;
    border: 2px solid black;
    font-weight: bold;
    padding: 10px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    background-color: lightpink;
    width:20%;
    height:100vh;
    border: 2px solid black;
    text-align: center;

}
.shaaz{
    position:relative;
    bottom:800px;
    width:200px;
    left:400px;
    height:200px;
    background-color: limegreen;
    border:2px solid black;
    transition: all 1s ease;

}
.shaaz:hover{
    width: 250px;
    background-color: yellow;}
.shashwat{
    position:relative;
    bottom:1000px;
    width:200px;
    left:800px;
    height:200px;
    background-color: limegreen;
    border:2px solid black;
    transition: all 1s ease;

}
.shashwat:hover{
    width: 250px;
    background-color: yellow;}
.anjali{
    position:relative;
    bottom:1200px;
    width:200px;
    left:1200px;
    height:200px;
    background-color: limegreen;
    border:2px solid black;
    transition: all 1s ease;
}
.anjali:hover{
    width: 250px;
    background-color: yellow;}
body{
    margin:0;
    background-color: lightgrey;
}
.subsidebar{
    position: relative;
    bottom: 850px;
    width:50px;
}